body
{background:#330000;}


#GeneralContainer{
background-color:white;
width:1050px;
height:1020px;
margin:auto;}

#Social
{background-color:white;
width:1850px;
height:50px;
margin:auto;}

#Logo{
background-color:black;
width:800px;
height:200px;
margin:auto;}

#StatusLogo{
background-color:blue;
width:300px;
height:50px;
position:relative;
margin:auto;
}

#Search{
background-color:white;
width:100px;
height:50px;
position:relative;
left:800px}

#Films{
background-color:green;
width:100px;
height:100px;
position:relative;
top:0px;
left:130px;}

#Photography{
background:purple;
width:100px;
height:100px;
margin:auto;
position:relative;
top:-100px;
left:0px;}

#Contact{
background-color:red;
width:100px;
height:100px;
position:relative;
left:840px;
top:-200px;}

#Status{
color:white;}

#lefthalf{
background-color:black;
width:350px;
height:500px;
position:relative;
}
#Video{
background-color:red;
width:350px;
height:500px;
position:relative;
margin:auto;}

#righthalf{
background-color:blue;
width:350px;
height:500px;
position:absolute;
margin-right:0px;}

.boxed0{
  border: 1px solid green ;
  height:100px;
  width:100px;
  position:relative;}
  
  .boxed1{
  border:1px solid blue;
  height:100px;
  width:100px;}
  
  .boxed2{
  border:1px solid red;
  height:100px;
  width:100px;}
  
 .boxed3{
 border:1px solid yellow;
 height:100px;
 width:100px;}
 
 .Video{border:1px solid black;
 height:300px;
 width:500px;
 position:relative;
 margin:auto;
 top:-500px;}
 
 .boxed4{
  border: 1px solid black ;
  height:100px;
  width:100px;
  position:relative;
  left:1000px;
  top:-800px;}
  
  .boxed5{
  border: 1px solid black;
  height:100px;
  width:100px;
  position:relative;
  left:1400px;
  top:-950px;}
  
  .boxed6{
  border: 1px solid gray ;
  height:100px;
  width:100px;
  position:relative;
  left:1399px;
  top:-930px;}
  
  .boxed7{
  border: 1px solid orange ;
  height:100px;
  width:100px;
  position:relative;
  left:1399px;
  top:-910px;}
  
  #content{
  position:relative;
  left:500px;
  top:-800px;}
  